#main-header{
  /*background-image: url("../components/images/Main_banner.jpg");*/
  background-color: black;
  height: 300px;
}

#description{
  /*background-image: url("../components/images/Main_banner.jpg");*/
  background-color: blue;
  height: 300px;
}

#contact-area{
  /*background-image: url("../components/images/Main_banner.jpg");*/
  background-color: red;
  height: 300px;
}

#primary-content{
  /*background-image: url("../components/images/Main_banner.jpg");*/
  background-color: yellow;
  height: 300px;
}

#footer-legal{
  /*background-image: url("../components/images/Main_banner.jpg");*/
  background-color: yellow;
  height: 300px;
}
